<div class="row">
  <div class="col-sm-6 container">
    <%= form_with(model: blog) do |form| %>
      <!-- <% if blog.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
          <ul>
            <% blog.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      -->
      <div class="card-header">
        <h4>Create Post</h4>
        <%= link_to "Draft", '' , class: "post-link" %>
        <button class="btn btn-primary post-button">12</button>
      </div>
      
      <div class="card-body card">
        <div class="form-group">
          <%= label_tag :title %>
          <%= form.text_field :name, class: "form-control input-post" %>
        </div>

        <div class="form-group">
          <%= label_tag :body %>
          <%= form.text_field :body, class: "form-control input-post" %>
        </div>

        <p>Tags</p>
        <div class="card-footer">
          <%= form.submit "Save as Draft", class: "btn btn-outline-primary" %>
          <%= form.submit "Post", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


  

