<%= stylesheet_link_tag('styles') %>

<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="navbar-main">
    <%= link_to root_path, class:"blogslogo-style" do %>
      <%= image_tag "MG_BLOGS_LOGO.svg", :class => ""  %>
    <% end %>
    
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control blogs-search" placeholder="Search Post">
    </div>
    
    <div class="d-flex">
      <div>
      <% if user_signed_in? %>
        <%= button_to "+", new_blog_path(@blogs), :method => :get, class: "navbar-button" %>
        </div>

        <div class="vertical-line"></div>
      <% end %>

      <div class="d-flex">
      <% if user_signed_in? %>
        <div class="dropdown">
          <%= image_tag "sasuke.jpg", :class => "user-icon" %>
          <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username %>
          </a>
    
          <ul class="dropdown-menu">
            <li><%= link_to "My Profile", users_path(@users), class:"dropdown-item" %></li>
            <li><%= link_to "Sign out", signout_path, class:"dropdown-item" %></li>

            <% else %>
            <%= link_to "Login", user_session_path(@users), class: "login-link" %>
            <%= button_to "Sign up", new_user_registration_path(@users), :method => :get, class: "blogs-loginbutton" %>
            <% end %>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</nav>

<div>
  <post-form></post-form>
</div>

<% else %>
  <div class="container mt-5">
    <h1>You can only create post if you are logged in.</h1>
    <%= button_to "Go to login page", user_session_path(@users), class:"btn btn-primary" %>
  </div>
<% end %>