<%= stylesheet_link_tag('styles') %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <section class="container-main">
    <div class="left-half">
      <%= image_tag "MG_BLOGS_LOGO.png", :class => "style_logo1"  %>
      <%= image_tag "MG_LOGO.svg", :class => "style_logo2"  %> 
    </div>

    <div class="right-half">
      <p class="paragraph-signin">Already a member? <%= link_to "Sign in", user_session_path(@users) %></p>
      <div class="container-form">
        <div class="field form-group">
          <h2>Sign Up</h2>
          
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>

          <%= f.label :Username %><br />
          <%= f.text_field :username, autofocus: true, class: "form-control" %>

          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

          <!-- <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          -->

          <p class="paragraph-signup">
            By continuing, you are setting up a Mashup Garage Blog account and agree to our 
            <%= link_to "User Agreement", '' %> and <%= link_to "Privacy Policy", '' %>.
          </p>

        <div class="actions">
          <%= f.submit "Log in", :class => "button-login" %>
        </div>
      </div>
    </div>
  </section>
<% end %>